@import "tailwindcss";

@utility font-display {
  font-family: "Luckiest Guy", cursive;
}

@utility font-script {
  font-family: "Wind Song", cursive;
}

@utility font-body {
  font-family: "Inter", sans-serif;
}

@utility font-accent {
  font-family: "Cormorant Garamond", serif;
}

@theme {
  --color-petal-sage: #999469;
  --color-petal-forest: #999469;
  --color-petal-eucalyptus: #999469;
  --color-petal-moss: #999469;
  --color-petal-terracotta: #FCB043;
  --color-petal-amber: #FCB043;
  --color-petal-peach: #E9D0C4;
  --color-petal-cream: #F4E8E1;
  --color-petal-stone: #F4E8E1;
  --color-petal-charcoal: #374151;
  --color-petal-pearl: #f8fafc;
  --color-petal-pink: #DC8D9B;
  --color-petal-primary: #99996B;
  --color-petal-accent: #99996B;
  --color-petal-circle-pink: #DF929D;
  --color-petal-circle-olive: #99996B;
  --color-petal-circle-amber: #FCB040;

  --font-family-display: "Luckiest Guy", cursive;
  --font-family-body: "Inter", sans-serif;
  --font-family-accent: "Cormorant Garamond", serif;
  --font-family-script: "Wind Song", cursive;
}

.font-display {
  font-family: "Luckiest Guy", cursive;
}

.font-script {
  font-family: "Wind Song", cursive;
}

.font-body {
  font-family: "Inter", sans-serif;
}

.font-accent {
  font-family: "Cormorant Garamond", serif;
}
