@import "tailwindcss";

@theme {
  --color-petal-sage: #999469;
  --color-petal-forest: #999469;
  --color-petal-eucalyptus: #999469;
  --color-petal-moss: #999469;
  --color-petal-terracotta: #FCB043;
  --color-petal-amber: #FCB043;
  --color-petal-peach: #E9D0C4;
  --color-petal-cream: #F4E8E1;
  --color-petal-stone: #F4E8E1;
  --color-petal-charcoal: #374151;
  --color-petal-pearl: #f8fafc;
  --color-petal-pink: #DC8D9B;
  --color-petal-primary: #99996B;
  --color-petal-accent: #99996B;
  --color-petal-circle-pink: #DF929D;
  --color-petal-circle-olive: #99996B;
  --color-petal-circle-amber: #FCB040;

  --font-family-display: "Playfair Display", serif;
  --font-family-body: "Inter", sans-serif;
  --font-family-accent: "Cormorant Garamond", serif;
  --font-family-script: "Great Vibes", cursive;
}

.font-script {
  font-family: "Great Vibes", cursive;
}
